table {
    border-collapse: collapse !important ;
    width: 100% !important ;
    color: #333 !important ;
    font-family: Arial, sans-serif !important ;
    font-size: 14px !important ;
    text-align: left !important ;
    border-radius: 10px !important ;
    overflow: hidden !important ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) !important ;
    margin: auto !important ;
    margin-top: 50px !important ;
    margin-bottom: 50px !important ;
  } 

  table th {
    background-color: #54514b !important ;
    color: #fff !important ;
    font-weight: bold !important ;
    padding: 10px !important ;
    text-transform: uppercase !important ;
    letter-spacing: 1px !important ;
    border-top: 1px solid #fff !important ;
    border-bottom: 1px solid #ccc !important ;
  }

  table tr:nth-child(even) td {
    background-color: #f2f2f2 !important ;
  }
  
  table tr:hover td {
    background-color: #c0bfbd !important ;
  }

  table td {
    background-color: #fff !important ;
    padding: 10px !important ;
    border-bottom: 1px solid #ccc !important ;
    font-weight: bold !important ;
  }